body{
    background: lightgray;
    font-family: Arial, Helvetica, sans-serif;
}
#container{
    width: 79%;
    width: 1820px;
}
nav{
    background: lightblue;
    height: 50px;
    border: 1px solid black;
}
nav ul li{
    float: left;
    list-style: none;
    margin: 10px;
    line-height: 30%;
}
.clearfix{
    clear: both;
}
#conten{
    float: left;
    width: 84%;
}
aside{
float: left;
width:calc(16px-16px) ;
background: local;
min-height: 500px;
padding-left: 10px;
padding-right: 10px;
}
footer{
    background: rgb(35, 35, 75);
    color: rgb(32, 23, 12);
    height: 50px;
line-height: 60px;
}
