@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;

}
:root{
    --bg-color: #d3d1df;
    --bg-from-color: #FFFFFF;
    --bg-banner-color: #F4F5F9;
    --border-input-color: #CBCBCB;
    --Primary-color: #613DB7;
}
/*body*/
body{
    border-radius: 3px solid red;
    width: 100%;
    height: 100vh;
    background-color: var(--bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
}
/*conatiner*/
.container{
    width: 64rem;
    height: 40rem;
    border-radius: 0.3rem;
    background-color: var(--bg-from-color);
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}
/*form*/
.form-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem 1.2rem;
}
/*Form - top*/
.form-container .form-top{
    font-size: 0.8rem;
    font-weight: 600;
    margin-left: 0.0rem;
    position: relative;
    text-align: center;
    justify-content: center;

}
.form-container .form-top span::before{
    position: absolute;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: black;
    top: 50%;
    left: -0.7rem;
    transform: translateY(-50%);
}
/*Form -bot*/
.form-container .form-bot{
    font-size: 0.6rem;
    font-weight: 600;
    opacity: 0.4;
}
/*Form*/
.form{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;

}
/*login*/
.login,
.register{
    width: 55%;
    position: absolute;
    top: 50%;
}
.login{
    transform: translateY(-50%);
    transition: transform 0.8s, opacity 0.8s;
    opacity: 1;
}
.form.toggle .login{
    transform: translateY(-175%);
    opacity: 0;
}
.register{
    transform: translateY(100%);
    transition: transform 0.8s, opacity 0.8s;
    opacity: 0;
}
.form.toggle .register{
    transform: translateY(-50%);
    opacity: 1;
}

.form h2{
    font-weight: 600;
    font-size: 1.5 rem;
    margin-bottom: 0.8rem;
}
.form p{
    font-size: 0.8 rem;
    margin-bottom: 0.8rem;
}

/*input*/
.form .input{
    display: flex;
    flex-direction: column;
    gap: 0.4 rem;
    margin-bottom: 0.9rem;
}
.form .input label{
    font-size: 0.9rem;
    font-weight: 600;
}
.form .input input{
    font-size: 0.7rem;
    outline: none;
    border: none;
    border: 1px solid var(--border-input-color);
    border-radius: 0.2rem;
    padding: 0.5rem;
}
/*Reminder*/
.form .reminder{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
}
.form .checkbox-container{
    font-size: 0.7rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 0.2rem;
}
.form .checkbox-container input{
    cursor: pointer;
}

.form .forgot{
   
    font-size: 0.7rem;
    font-weight: 600;
    color: var(--Primary-color);
    cursor: pointer;
}

/*buttons*/
.form .buttons{
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    margin-bottom: 1rem;
}
.form .buttons button{
    width: 100%;
    padding: 0.7rem;
    font-size: 0.8rem;
    border-radius: 0.5rem;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}
.form .buttons button:hover{
    background: #539e577b;
}
.form .buttons .icon-google{
    width: 1rem;
}
.form .buttons button:first-child{
    background-color: var(--Primary-color);
    color: white;
}
.form .buttons button:first-child:hover{
    background: #623db7cc;
}

form .buttons button:last-child{
    background-color: var(--bg-from-color);
    border: 2px solid var(--border-input-color);
}

/*Account*/
.form .account{
    text-align: center;
    font-size: 0.75rem;
}
/*Icono*/

#icono{
    background: #5e8fba4e;
    padding: 4px;
    
}
#icono{
    text-decoration: none;
    color: #1c3eac9d;
}

#icono:hover{
    color: rgba(17, 23, 203, 0.134);
}

.icon a{
  text-decoration: none;
  color: #f1f0f3;
  text-align: center;
}

.icon ion-icon{
  color: #021839;
  font-size: 20px;
  padding-left: 14;
  padding-top: 3px;
  transition: 0.3s ease;
  
}
.icon ion-icon:hover{
  color: orangered
}
.container.form .btnn{
    padding: 0.7rem;
    font-size: 1rem;
    border-radius: 0rem;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    font-weight:0.1rem;
    top: 1rem;
    left: 50%;
}
.btnn{
    right: 1rem;
    top: 1rem;
    width: 19px;
}
.btnn:hover{
    background: #45a04974;
}

.banner{
    background-color: var(--bg-banner-color);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.circle{
    background-color: var(--Primary-color);
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
}
.circle-2{
    width: 16rem;
    height: 16rem;
    background-color: rba(255, 255, 255, 0.2);
    border-radius: 50%;
    position: absolute;
    backdrop-filter: blur(8px);
    clip-path: inset(50% 0 0 0);
    transition: clip-path 0.8s ease-in-out;
}
.banner.toggle .circle-2{
     clip-path: inset(0 0 50% 0);
}


/*Responsive*/
@media(max-width:1088px){
    body{
        background-color: var(--bg-from-color);
    }
    .container{
        flex-direction: column;
        width: 100%;
        height: 20%;

    }
    .container.from-container{
        border: 2px solid red;
        padding: 0;
        height: 80%;
        order: 2;
    }
    .form-top,.form-bot{
        display: none;
    }
    .container .banner{
        width: 100%;
        height: 20%;
        order: 1;
        margin-top: 2rem;
        margin-bottom: 2.5rem;
        background-color: transparent;
    }
    .circle{
        width: 4rem;
        height: 4rem;
    }
    .circle-2{
        width: 6rem;
        height: 6rem;
    }
    .form .login, 
    .form .register{
        border: 2px solid rgba(248, 244, 244, 0.259);
        width: 18rem;
        height: 100%; 
    }
    .fom h2, form p{
        text-align: center;
    }
}
@media(max-width:350px){
       .form .login, 
    .form .register{
        width: 18rem;
        
    }

}

@media(max-width: 1088px){
    .container {
        flex-direction: column;
        width: 100%;
        height: auto;
        padding: 1rem;
    }
    .form-container {
        width: 100%;
        padding: 1rem;
    }

    .login, .register {
        position: relative;
        transform: translateY(0);
        opacity: 1;
        width: 100%;
        max-width: 100%;
        margin-bottom: 2rem;
    }

.hidden {
    display: none;
} }